$font-weight-base: 400;

$border-color-base: rgba(101, 135, 248, 0.36);

$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-mini: 10px;

$color-important: #222222;
$color-common: #606060;
$color-desc: #909090;
$color-disabled: #bfbfbf;
$color-error: #f04134;
$color-warn: #f5a623;
$color-lighting: #9013fe;
